.home-nav-bar ul {
  width: 100%;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.home-nav-bar li {
  list-style-type: none;
  margin-right: 20px;
}

.home-nav-bar li:last-child {
  margin-left: auto;
  text-align: right;
  text-decoration: underline;
}

.home-nav-bar a {
  color: black;
}

.home-nav-bar a:hover {
  color: gray;
}
