.header-hour-slot {
  font-size: 2em;
  border: 1px solid;
}

.header-time-slot {
  font-size: 0.8em;
  border: 1px solid;
}

.free-slot {
  background-color: lightgreen;
  cursor: pointer;
}

.free-slot:hover {
  background-color: green;
  cursor: pointer;
}

.closed-slot {
  background-color: whitesmoke;
}

.booked-slot {
  background-color: yellow;
}

.booked-by-user-slot {
  background-color: lightskyblue;
}
.booked-for-user-slot {
  background-color: lightblue;
}
